.bg {
    background-image: url('./images/coal.png') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.loading-items {
    margin-bottom: 3em !important;
    margin-top: 3em !important;
}

.item-price {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.item-name {
    display: inline-flex !important;
    text-transform: uppercase;
    min-height: 3em;
}

.item-name > i {
    margin-left: 0.5em;
}

.card {
    min-height: 200px !important;
}